

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.form-siteSearch-control {
    border-radius: 22px;
    border: hidden;
}
.search-addon {
    border-radius: 22px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.user {
    border-radius: 50%;
    background-image: url("../img/user.jpg");
    position: relative;
}
@media (max-width: 767px) {
    .user {
        position: absolute;
        top: 10px;
        right: 66px;
        height: 34px;
        width: 44px;
    }
}
.notification-count {
    position: absolute;
    top: -2px;
    right: -3px;
    padding: 3px;
    background-color: #dd4b39;
}
.searchbar-toggle {
    color: #fff;
}
.actions-wrapper > button {
    margin-right: 20px;
}
.actions-wrapper > .btn-link {
    color: rgba(0, 0, 0, .39);
    padding: 5px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .39);
}
.actions-wrapper > .active-button {
    color: #2eb398;
    border: 1px solid #2eb398;
}
.active-filter {
    background-color: #2eb398;
    border-color: #2eb398;
}
@media (min-width: 768px) {
    .actions-wrapper {
        float: left;
    }
    .filters-wrapper {
        float: right;
    }
}
@media (max-width: 348px) {
    .filters-wrapper > button {
        margin: 3px;
    }
}
@media (max-width: 208px) {
    .actions-wrapper span{
        display: block;
        margin: 3px 0;
    }
}