<link rel="stylesheet" type="text/css" href="components/topnav/topnav.css">
<div class="container navbar-padding">
      <div class="navbar-header">
        <button type="button" id="openBtn" onclick="openSideMenu()" class="sideMenu-toggle collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="sideMenu"><i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <button type="button" id="closeBtn" onclick="closeSideMenu()" class="sideMenu-toggle collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="sideMenu"> <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        <button type="button" class="navbar-toggle searchbar-toggle collapsed" data-toggle="collapse" data-target="#searchbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle Search bar</span>
          <!--             <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> -->
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <button href="#" class="user visible-xs"><span class="badge notification-count">5</span>
        </button>
        <a class="navbar-brand" href="#">droplr</a>
      </div>
      <div id="searchbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="search" placeholder="search" class="form-control form-siteSearch-control">
              <span class="input-group-addon search-addon">
                    <span class="glyphicon glyphicon-search"></span>
              </span>
            </div>
          </div>
          <a href="#" class="form-control user hidden-xs"><span class="badge notification-count">5</span></a>
        </form>
      </div>
      <!--/.navbar-collapse -->
    </div>