
<link rel="stylesheet" href="components/sidemenu/sidemenu.css">
<div id="sideMenu" class="sideMenu">
    <a href="#" class="uploadAnchor"><i class="fa fa-upload uploadIcon" aria-hidden="true"></i></a>
    <div class="list-divider">Main</div>
    <a href="#" class="active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Overview</a>
    <a href="#"><i class="fa fa-bicycle" aria-hidden="true"></i> Activity</a>
    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Dearest</a>
    <a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Folders</a>
    <div class="list-divider">Filters</div>
    <a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i> Images</a>
    <a href="#"><i class="fa fa-volume-up" aria-hidden="true"></i> Audio <span class="badge pull-right">8</span></a>
    <a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a>
    <a href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Notes</a>
    <a href="#"><i class="fa fa-link" aria-hidden="true"></i> Links</a>
    <a href="#"><i class="fa fa-files-o" aria-hidden="true"></i> Files</a>

    <div class="progress">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:50%">
      </div><!-- progress-bar -->
    </div><!-- progress -->
  </div><!-- side menu -->
