/************* GALLERY ****************/
.gallery-wrapper {
	background-color: red;
}


.actions-wrapper > button {
    margin-right: 20px;
}
.actions-wrapper > .btn-link {
    color: rgba(0, 0, 0, .39);
    padding: 5px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .39);
}
.actions-wrapper > .active-button {
    color: #2eb398;
    border: 1px solid #2eb398;
}
.active-filter {
    background-color: #2eb398;
    border-color: #2eb398;
}
@media (min-width: 768px) {
    .actions-wrapper {
        float: left;
    }
    .filters-wrapper {
        float: right;
    }
}
@media (max-width: 348px) {
    .filters-wrapper > button {
        margin: 3px;
    }
}
@media (max-width: 208px) {
    .actions-wrapper span{
        display: block;
        margin: 3px 0;
    }
}

.gallery-wrapper > figure{
	float: left;
	box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.15);
}

figure {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: 200px;
	width: 200px;
	display: inline-block;
}
figure {
	margin: 5px;
}
figure img {
	height: 100%;
	width: 100%;
}
figcaption {
	position: absolute;
	right: 5px;
	bottom: 5px;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,.3);
}


@media (min-width: 992px) {
	figure > img{
		transition: all 1s;
	}
	figure:hover > img {
		transform: scale(1.1)
	}
	figcaption {
		right: -50%;
		transition: all 1s ease-in-out;
	}
	figure:hover > figcaption{
		right: 5px;
	}
}